<div class="bg-white container">
    <h4 class="text-center text-primary mt-3"><b>METODOLOGÍA PARA LA ADMINISTRACIÓN DEL RIESGO EN LA UNIVERSIDAD DEL CAUCA</b></h4>
    <h4 class="text-center text-primary"><b>MARUC</b></h4>
    <p class="text-justify">
        Para la Universidad del Cauca la Administración del Riesgo cobra importancia frente aquellas situaciones
        internas y externas generadoras de incertidumbre y que pueden afectar positiva o negativamente el logro de
        objetivos y metas institucionales. Ello hace imperativa la construcción de herramientas que permitan anticipar
        los eventos que generan un impacto nocivo sobre la gestión universitaria.

        Al ser un componente del Sistema de Control Interno, la Administración del Riesgo con enfoque sistémico e
        integral, es un elemento clave de la planeación estratégica, que contribuye a mejorar la gestión de todos los
        procesos respecto de sus planes, programas y proyectos que aseguran el logro de las metas misionales.

    </p>
    <p class="text-justify">La Metodología para la Administración del Riesgo de la Universidad del Cauca –MARUC, orienta técnicamente la
        gestión del riesgo bajo un enfoque sistémico de operación y controles preventivos, que brinden una seguridad
        razonable a los procesos, frente a la incertidumbre que afecta el logro de los objetivos misionales y
        estratégicos.</p>

    <h4 class="text-center text-primary mt-2">POLÍTICA DE ADMINISTRACIÓN DEL RIESGO</h4>
    <h5 class="text-primary">OBJETIVO</h5>
    <p class="text-justify">
        La Universidad del Cauca como Institución de Educación Superior, en conexión con su estrategia institucional
        alineada con la paz territorial, orienta la gestión del riesgo bajo un enfoque sistémico de operación y
        controles preventivos, que brindan una seguridad razonable frente a la incertidumbre que afecta el logro de los
        objetivos estratégicos y la calidad del servicio misional, a través de una metodología que identifica, valora,
        controla y monitorea los eventos potencialmente adversos, en garantía del fortalecimiento de los procesos, la
        transparencia en la gestión y la toma oportuna de decisiones.
    </p>
    <h5 class="text-primary">ALCANCE</h5>
    <p class="text-justify">
        Dada su transversalidad, la Administración del Riesgo abarca los procesos estratégicos, misionales, de apoyo y
        de evaluación; planes, programas y proyectos y sistemas de gestión
    </p>
</div>