<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-primary mb-0">Versiones</h3>
    </div>
    <div class="row">
        <div class="col">
            <app-spinner [type]="'bg'" *ngIf="loading; else loaded"></app-spinner>
            <ng-template #loaded>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <div class="d-flex flex-row align-items-center pb-1 mt-2">
                            <p class="text-primary m-0 fw-bold">Histórico de versiones<br></p>
                        </div>
                    </div>
                    <div *hasRole="'OPDI'" class="col mt-1 d-flex flex-col justify-content-end">
                        <app-forms-version-riesgos (add)="addVersion($event)" ></app-forms-version-riesgos>
                    </div>
                    <div class="divider"></div>
                    <div class="card-body">
                        <div class="table-responsive table mt-2" id="dataTable-1" role="grid"
                            aria-describedby="dataTable_info">
                            <table class="table table-bordered table-striped" id="dataTable"
                                *ngIf="versiones?.length != 0? true : false">
                                <thead>
                                    <tr>
                                        <th>Nombre versión</th>
                                        <th>Fecha de carga</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let version of versiones">
                                        <td>{{version.nombre}}<br></td>
                                        <td>{{convertTimeToString(version.fechaCreacion)}}<br></td>
                                        <td>
                                            <button id="btn-icon" class="btn btn-primary btn-sm" data-toggle="tooltip"
                                                data-placement="top" title="Ver soporte" (click)="open(modal_ver)">
                                                <fa-icon [icon]="eyeIcon"></fa-icon>
                                            </button>
                                            <button *hasRole="'OPDI'" id="btn-icon" class="btn btn-primary btn-sm" data-toggle="tooltip"
                                                data-placement="top" title="Editar soporte"
                                                (click)="open(modal_editar)">
                                                <fa-icon [icon]="penIcon"></fa-icon>
                                            </button>
                                            <button *hasRole="'OPDI'" id="btn-icon" class="btn btn-primary btn-sm" data-toggle="tooltip"
                                                data-placement="top" title="Eliminar soporte"
                                                (click)="open(modal_eliminar)">
                                                <fa-icon [icon]="trashIcon"></fa-icon>
                                            </button>
                                        </td>
                                        <!--- Modal Ver Soporte -->
                                        <ng-template #modal_ver let-modalVer>
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="modal-basic-title">Ver versión
                                                </h4>
                                                <button type="button" class="btn-close" aria-label="Close"
                                                    (click)="modalVer.dismiss()"></button>
                                            </div>
                                            <div class="modal-body">
                                                <ver-version-component [version]="version" (downloaded)="verVersion()">
                                                </ver-version-component>
                                            </div>
                                        </ng-template>
                                        <!--- Modal Editar Soporte -->
                                        <ng-template #modal_editar let-modalEditar>
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="modal-basic-title">Editar versión
                                                </h4>
                                                <button type="button" class="btn-close" aria-label="Close"
                                                    (click)="modalEditar.dismiss()"></button>
                                            </div>
                                            <div class="modal-body">
                                                <editar-version-riesgos [version]="version" (update)="updateVersion($event)">
                                                </editar-version-riesgos>
                                            </div>
                                        </ng-template>
                                        <!--- Modal Eliminar Soporte -->
                                        <ng-template #modal_eliminar let-modalEliminar>
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="modal-basic-title">Eliminar versión</h4>
                                                <button type="button" class="btn-close" aria-label="Close"
                                                    (click)="modalEliminar.dismiss()"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>¿Estas seguro de eliminar la versión {{version.nombre}}?
                                                </p>
                                            </div>
                                            <div class="modal-footer justify-content-evenly">
                                                <app-spinner [type]="'sm'" *ngIf="deleting; else loaded"></app-spinner>
                                                <ng-template #loaded>
                                                    <button type="button" class="btn btn-secondary"
                                                        (click)="modalEliminar.close()">Cancelar</button>
                                                    <button type="button" class="btn btn-danger"
                                                        (click)="deleteVersion(version.id)">Eliminar</button>
                                                </ng-template>
                                            </div>
                                        </ng-template>


                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr></tr>
                                </tfoot>
                            </table>
                            <div *ngIf="versiones?.length==0" class="alert alert-info">

                                No hay registros en la base de datos

                            </div>
                        </div>
                    </div>
                    </div>
            </ng-template>

        </div>
    </div>
</div>

