<div class="container-fluid">
    <div class="row" style="margin-bottom: 5px;">
        <div class="col">
            <h3 class="text-primary mb-0" *hasRole="'OCI'">Evaluacion</h3>
            <h3 class="text-primary mb-0" *hasRole="'OPDI'">Monitoreo</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col">
                            <p class="text-primary m-0 fw-bold">Información de los riesgos</p>
                        </div>
                        <div *hasRole="'OCI'">
                            <div *ngIf="riesgos.length!=0" class="col d-flex flex-col justify-content-end">
                                <div class="row" *ngIf="loading_report; else loaded_report">
                                    <div class="col col-lg-3">
                                        <app-spinner [type]="'sm'"></app-spinner>
                                    </div>
                                    <div class="d-flex col p-0 align-items-center">
                                        <p class="mb-0">Generando reporte ...</p>
                                    </div>
                                </div>
                                <ng-template #loaded_report>
                                    <button class="btn btn-primary btn-sm" type="button"
                                    (click)="handleDownloadReport()">Descargar reporte de observaciones
                                    <fa-icon [icon]="downloadIcon"></fa-icon>
                                    </button>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngIf="riesgos.length!=0" class="row align-items-end">
                        <div class="col-lg-3">
                            <div class="input-group">
                                <input class="bg-light form-control border-1" [(ngModel)]="key_search"
                                    (keyup)="handleKey_Search($event)" type="text" placeholder="Buscar..." />
                                <button class="btn btn-primary py-0" (click)="search()" type="button">
                                    <i class="fas fa-search"></i></button>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <p class="mb-0">Proceso:</p>
                            <select id="select_proceso" class="form-select form-select-sm"
                                (change)="handleSelectProceso($event)">
                                <option value="0">-- Selecciona un proceso --</option>
                                <option [value]="item.id" *ngFor="let item of list_procesos">{{item?.nombre}}
                                </option>
                            </select>
                        </div>
                        <!-- <div class="col-lg-2">
                                    <p class="mb-0">Cumplimiento:</p>
                                    <select class="form-select form-select-sm" (change)="handleSelectCumplimiento($event)">
                                        <option value="0" >-- Selecciona --</option>
                                        <option value="1">Si</option>
                                        <option value="2">No</option>
                                    </select>
                                </div> -->
                    </div>
                    <app-spinner [type]="'bg'" *ngIf="loading; else loaded"></app-spinner>
                    <ng-template #loaded>
                        <app-seguimiento-table [riesgos]="riesgos_table" *ngIf="riesgos_table.length!=0">
                        </app-seguimiento-table>
                        <div class="d-flex justify-content-between p-2 align-items-center"
                            *ngIf="riesgos_table.length!=0">
                            <ngb-pagination [collectionSize]="totalElements" [(page)]="page" [pageSize]="size"
                                (pageChange)="pagSearch()">
                            </ngb-pagination>
                            <div class="d-flex flex-row align-items-center justify-content-center">
                                <div class="d-flex flex-col align-items-center ml-3">
                                    <p class="m-0 me-2">Elementos encontrados: <b>{{totalElements}}</b></p>
                                </div>
                                <div class="d-flex flex-col align-items-center">
                                    <p class="m-0 me-2">Elementos por página:</p>
                                </div>
                                <div class="col-auto">
                                    <select class="form-select" style="width: auto" [(ngModel)]="size"
                                        (ngModelChange)="fetchRiesgos()">
                                        <option [ngValue]="5">5</option>
                                        <option [ngValue]="10">10</option>
                                        <option [ngValue]="20">20</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="(riesgos_table.length==0 && !loading && key_search.length > 0) else params"
                            class="alert alert-info mt-2">
                            No hay registros que contengan <b>{{key_search}}</b>
                        </div>
                        <ng-template #params>
                            <div *ngIf="riesgos_table.length==0 && !loading && select_proceso !==0"
                                class="alert alert-info mt-2">
                                No hay registros que cumplan con los parámetros de busqueda
                            </div>
                        </ng-template>
                        <div *ngIf="(riesgos.length==0 && !loading)" class="alert alert-info mt-2">
                            No hay registros en la base de datos
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>