#btn-icon {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
}

.modal {
    display: block;
  }
  
  .modal-body:before,
    .modal-body:after {
      display: table;
      content: " ";
  }
  
  .modal-header:before,
  .modal-header:after {
    display: table;
    content: " ";
  }