<h3 class="text-dark mb-2">Asesorias</h3>
<div class="card">
  <div class="card-body">
    <!--
    <ng-template let-modal #modalUsuario>
      <app-dialogo-formulario-usuarios (onClose)="modal.dismiss()"
      ></app-dialogo-formulario-usuarios>
    </ng-template>
    -->

    <div style="margin-top: 12px">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="subtitle">Lista de asesorias solicitadas</h5>
      </div>
      <div class="table-responsive mt-3">
        <app-lista-asesorias></app-lista-asesorias>
      </div>
    </div>
  </div>
</div>
