<div class="center">
  <div class="card shadow-lg o-hidden border-0 my-5">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="p-5">
              <div class="text-center">
                <h4 class="text-dark mb-4">Recuperar contraseña!</h4>
              </div>
              <p>
                Ingrese su nueva contraseña, esta debe tener un logintud mayor a
                8 caracteres y debe contener minúsculas, mayúsculas y al menos
                un caracter especial.
              </p>
              <form [formGroup]="form" passwordMatching>
                <div class="mb-3">
                  <input
                    class="form-control form-control-user"
                    type="password"
                    formControlName="password"
                    id="exampleInputEmail"
                    aria-describedby="emailHelp"
                    placeholder="Ingrese la contraseña"
                    name="password"
                    [ngClass]="{
                      'is-invalid': submitted && f['password']?.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f['password']?.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['password'].errors['required']">
                      Debe ingresar una contraseña.
                    </div>
                    <div *ngIf="f['password'].errors['minlength']">
                      La contraseña debe contener 8 o más caracteres
                    </div>
                    <div *ngIf="f['password'].errors['hasNumber']">
                      La contraseña debe tener al menos un número
                    </div>
                    <div *ngIf="f['password'].errors['hasCapitalCase']">
                      La contraseña debe tener al menos un caracter en mayúscula
                    </div>
                    <div *ngIf="f['password'].errors['hasSmallCase']">
                      La contraseña debe tener al menos un caracter en minúscula
                    </div>
                    <div *ngIf="f['password'].errors['hasSpecialCharacters']">
                      La contraseña debe tener al menos un caracter especial
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <input
                    class="form-control form-control-user"
                    type="password"
                    formControlName="confirmPassword"
                    id="confirmPassword"
                    aria-describedby="emailHelp"
                    placeholder="Ingrese de nuevo la contraseña"
                    name="confirmPassword"
                    [ngClass]="{
                      'is-invalid': submitted && f['confirmPassword']?.errors
                    }"
                  />
                  <div
                    *ngIf="
                      (submitted && f['confirmPassword']?.errors) ||
                      form.hasError('mismatch')
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['confirmPassword'].errors['required']">
                      Debe ingresar una contraseña.
                    </div>
                    <div *ngIf="f['confirmPassword'].errors['mismatch']">
                      Las contraseñas deben coincidir
                    </div>
                  </div>
                </div>
                <div
                  class="flex text-center justify-content-center align-items-center"
                >
                  <button
                    (click)="doRecovery()"
                    class="btn btn-primary align-items-center justify-content-center"
                  >
                    Recuperar la contraseña
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
