.bajo {
  background-color: #92d050 !important;
}

.medio {
  background-color: #ffff00 !important;
}

.alto {
  background-color: #ffc000 !important;
}

.extremo {
  background-color: #ff0000 !important;
}
